## Домашнее задание 3

**Задание 1**

Дан список вида:
data = [
[13, 25, 23, 34],
[45, 32, 44, 47],
[12, 33, 23, 95],
[13, 53, 34, 35],
]

Напишите функцию, которая возвращает сумму элементов на диагонали. Т. е. 13+32+23+35.

In [1]:
data = [
[13, 25, 23, 34],
[45, 32, 44, 47],
[12, 33, 23, 95],
[13, 53, 34, 35],
]

In [2]:
def diag_sum(matrix):
    """ Возвращает сумму элементов на главной диагонали матрицы matrix"""
    
    total_sum = 0
    index = 0
    
    for line in matrix:
        total_sum += line[index]
        index += 1
        
    return total_sum

In [3]:
diag_sum(data)

103

**Задание 2**

Дан список чисел, часть из которых имеют строковый тип или содержат буквы. Напишите функцию, которая возвращает сумму квадратов элементов, которые могут быть числами.

In [5]:
data = [1, '5', 'abc', 20, '2']

In [14]:
def square_sum(data_list):
    """ Возвращает сумму квадратов элементов списка data_list, которые могут быть числами
    Т.е. считаются и числа в строке ('2', '5'), и обычные числа """
    
    total_sum = 0
    
    for elem in data_list:
        if str(elem).isnumeric():
            total_sum += int(elem) ** 2
    
    return total_sum

In [15]:
square_sum(data)

430

**Задание 3**

Напишите функцию, которая возвращает название валюты (поле ‘Name’) с максимальным значением курса с помощью сервиса https://www.cbr-xml-daily.ru/daily_json.js

In [29]:
def get_valutes():
    """ Возвращает ответ сервиса с информацией о валютах в формате JSON """    
    import requests
    r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
    return r.json()['Valute']

def get_name_max_value():
    """ Возвращает название валюты (поле ‘Name’) с максимальным значением курса"""
    valutes = get_valutes()
    max_value_rate = 0
    max_value_name = ''
    
    for valute, info in valutes.items():
        if info['Value'] > max_value_rate:
            max_value_rate = info['Value']
            max_value_name = info['Name']
    
    return max_value_name

In [30]:
get_name_max_value()

'Датских крон'

**Задание 4**

Последнее упражнение с занятия

Добавьте в класс еще один формат, который возвращает название валюты (например, ‘Евро’).

Добавьте в класс параметр diff (со значениями True или False), который в случае значения True в методах eur и usd будет возвращать не курс валюты, а изменение по сравнению в прошлым значением.

In [31]:
import requests

In [51]:
class Rate:
    def __init__(self, format='value', diff=False):
        self.format = format
        self.diff = diff
    
    def exchange_rates(self):
        """
        Возвращает ответ сервиса с информацией о валютах в виде:
        
        {
            'AMD': {
                'CharCode': 'AMD',
                'ID': 'R01060',
                'Name': 'Армянских драмов',
                'Nominal': 100,
                'NumCode': '051',
                'Previous': 14.103,
                'Value': 14.0879
                },
            ...
        }
        """
        r = requests.get('https://www.cbr-xml-daily.ru/daily_json.js')
        return r.json()['Valute']
    
    def make_format(self, currency):
        """
        Возвращает информацию о валюте currency в трех вариантах:
        - полная информация о валюте при self.format = 'full':
        Rate('full').make_format('EUR')
        {
            'CharCode': 'EUR',
            'ID': 'R01239',
            'Name': 'Евро',
            'Nominal': 1,
            'NumCode': '978',
            'Previous': 79.6765,
            'Value': 79.4966
        }
        
        - значение курса при self.format = 'value':
        Rate('value').make_format('EUR')
        79.4966
        
        - значение изменения курса по сравнению с прошлым значением при self.format = 'value' и self.diff = True:
        Rate('value').make_format('EUR')
        
        
        - название валюты при self.name = 'value':
        Rate('name').make_format('EUR')
        Евро
        """
        response = self.exchange_rates()
        
        if currency in response:
            if self.format == 'full':
                return response[currency]
            
            if self.format == 'value':
                if self.diff == True:
                    return round(response[currency]['Value'] - response[currency]['Previous'], 4)
                else: 
                    return response[currency]['Value']
            
            if self.format == 'name':
                return response[currency]['Name']
        
        return 'Error'
    
    def eur(self):
        """Возвращает информацию о евро на сегодня в формате self.format"""
        return self.make_format('EUR')
    
    def usd(self):
        """Возвращает информацию о долларе на сегодня в формате self.format"""
        return self.make_format('USD')

In [33]:
curr = Rate()

In [34]:
import requests
curr.exchange_rates()

{'AUD': {'ID': 'R01010',
  'NumCode': '036',
  'CharCode': 'AUD',
  'Nominal': 1,
  'Name': 'Австралийский доллар',
  'Value': 44.5942,
  'Previous': 44.2991},
 'AZN': {'ID': 'R01020A',
  'NumCode': '944',
  'CharCode': 'AZN',
  'Nominal': 1,
  'Name': 'Азербайджанский манат',
  'Value': 38.0846,
  'Previous': 38.0143},
 'GBP': {'ID': 'R01035',
  'NumCode': '826',
  'CharCode': 'GBP',
  'Nominal': 1,
  'Name': 'Фунт стерлингов Соединенного королевства',
  'Value': 81.9262,
  'Previous': 81.3364},
 'AMD': {'ID': 'R01060',
  'NumCode': '051',
  'CharCode': 'AMD',
  'Nominal': 100,
  'Name': 'Армянских драмов',
  'Value': 13.4746,
  'Previous': 13.4525},
 'BYN': {'ID': 'R01090B',
  'NumCode': '933',
  'CharCode': 'BYN',
  'Nominal': 1,
  'Name': 'Белорусский рубль',
  'Value': 31.1092,
  'Previous': 31.0308},
 'BGN': {'ID': 'R01100',
  'NumCode': '975',
  'CharCode': 'BGN',
  'Nominal': 1,
  'Name': 'Болгарский лев',
  'Value': 36.9689,
  'Previous': 36.7116},
 'BRL': {'ID': 'R01115',
  'NumCode': '986',
  'CharCode': 'BRL',
  'Nominal': 1,
  'Name': 'Бразильский реал',
  'Value': 15.9852,
  'Previous': 15.9616},
 'HUF': {'ID': 'R01135',
  'NumCode': '348',
  'CharCode': 'HUF',
  'Nominal': 100,
  'Name': 'Венгерских форинтов',
  'Value': 22.1713,
  'Previous': 21.9679},
 'HKD': {'ID': 'R01200',
  'NumCode': '344',
  'CharCode': 'HKD',
  'Nominal': 10,
  'Name': 'Гонконгских долларов',
  'Value': 82.3243,
  'Previous': 82.165},
 'DKK': {'ID': 'R01215',
  'NumCode': '208',
  'CharCode': 'DKK',
  'Nominal': 10,
  'Name': 'Датских крон',
  'Value': 96.8239,
  'Previous': 96.1595},
 'USD': {'ID': 'R01235',
  'NumCode': '840',
  'CharCode': 'USD',
  'Nominal': 1,
  'Name': 'Доллар США',
  'Value': 64.6106,
  'Previous': 64.4913},
 'EUR': {'ID': 'R01239',
  'NumCode': '978',
  'CharCode': 'EUR',
  'Nominal': 1,
  'Name': 'Евро',
  'Value': 72.3186,
  'Previous': 71.8369},
 'INR': {'ID': 'R01270',
  'NumCode': '356',
  'CharCode': 'INR',
  'Nominal': 100,
  'Name': 'Индийских рупий',
  'Value': 92.7685,
  'Previous': 92.4673},
 'KZT': {'ID': 'R01335',
  'NumCode': '398',
  'CharCode': 'KZT',
  'Nominal': 100,
  'Name': 'Казахстанских тенге',
  'Value': 17.033,
  'Previous': 17.0601},
 'CAD': {'ID': 'R01350',
  'NumCode': '124',
  'CharCode': 'CAD',
  'Nominal': 1,
  'Name': 'Канадский доллар',
  'Value': 48.0305,
  'Previous': 47.9062},
 'KGS': {'ID': 'R01370',
  'NumCode': '417',
  'CharCode': 'KGS',
  'Nominal': 100,
  'Name': 'Киргизских сомов',
  'Value': 92.4991,
  'Previous': 92.3283},
 'CNY': {'ID': 'R01375',
  'NumCode': '156',
  'CharCode': 'CNY',
  'Nominal': 10,
  'Name': 'Китайских юаней',
  'Value': 93.5721,
  'Previous': 93.2171},
 'MDL': {'ID': 'R01500',
  'NumCode': '498',
  'CharCode': 'MDL',
  'Nominal': 10,
  'Name': 'Молдавских леев',
  'Value': 35.7557,
  'Previous': 35.7392},
 'NOK': {'ID': 'R01535',
  'NumCode': '578',
  'CharCode': 'NOK',
  'Nominal': 10,
  'Name': 'Норвежских крон',
  'Value': 74.0743,
  'Previous': 73.6337},
 'PLN': {'ID': 'R01565',
  'NumCode': '985',
  'CharCode': 'PLN',
  'Nominal': 1,
  'Name': 'Польский злотый',
  'Value': 16.8235,
  'Previous': 16.6614},
 'RON': {'ID': 'R01585F',
  'NumCode': '946',
  'CharCode': 'RON',
  'Nominal': 1,
  'Name': 'Румынский лей',
  'Value': 15.1928,
  'Previous': 15.0815},
 'XDR': {'ID': 'R01589',
  'NumCode': '960',
  'CharCode': 'XDR',
  'Nominal': 1,
  'Name': 'СДР (специальные права заимствования)',
  'Value': 88.9404,
  'Previous': 88.8639},
 'SGD': {'ID': 'R01625',
  'NumCode': '702',
  'CharCode': 'SGD',
  'Nominal': 1,
  'Name': 'Сингапурский доллар',
  'Value': 46.9213,
  'Previous': 46.6618},
 'TJS': {'ID': 'R01670',
  'NumCode': '972',
  'CharCode': 'TJS',
  'Nominal': 10,
  'Name': 'Таджикских сомони',
  'Value': 68.4797,
  'Previous': 68.3895},
 'TRY': {'ID': 'R01700J',
  'NumCode': '949',
  'CharCode': 'TRY',
  'Nominal': 1,
  'Name': 'Турецкая лира',
  'Value': 10.6205,
  'Previous': 10.504},
 'TMT': {'ID': 'R01710A',
  'NumCode': '934',
  'CharCode': 'TMT',
  'Nominal': 1,
  'Name': 'Новый туркменский манат',
  'Value': 18.4866,
  'Previous': 18.4524},
 'UZS': {'ID': 'R01717',
  'NumCode': '860',
  'CharCode': 'UZS',
  'Nominal': 10000,
  'Name': 'Узбекских сумов',
  'Value': 76.3862,
  'Previous': 76.2452},
 'UAH': {'ID': 'R01720',
  'NumCode': '980',
  'CharCode': 'UAH',
  'Nominal': 10,
  'Name': 'Украинских гривен',
  'Value': 24.4113,
  'Previous': 24.5065},
 'CZK': {'ID': 'R01760',
  'NumCode': '203',
  'CharCode': 'CZK',
  'Nominal': 10,
  'Name': 'Чешских крон',
  'Value': 27.9784,
  'Previous': 27.8088},
 'SEK': {'ID': 'R01770',
  'NumCode': '752',
  'CharCode': 'SEK',
  'Nominal': 10,
  'Name': 'Шведских крон',
  'Value': 67.3771,
  'Previous': 66.9143},
 'CHF': {'ID': 'R01775',
  'NumCode': '756',
  'CharCode': 'CHF',
  'Nominal': 1,
  'Name': 'Швейцарский франк',
  'Value': 64.4623,
  'Previous': 63.8844},
 'ZAR': {'ID': 'R01810',
  'NumCode': '710',
  'CharCode': 'ZAR',
  'Nominal': 10,
  'Name': 'Южноафриканских рэндов',
  'Value': 44.7851,
  'Previous': 44.5942},
 'KRW': {'ID': 'R01815',
  'NumCode': '410',
  'CharCode': 'KRW',
  'Nominal': 1000,
  'Name': 'Вон Республики Корея',
  'Value': 54.4053,
  'Previous': 54.1003},
 'JPY': {'ID': 'R01820',
  'NumCode': '392',
  'CharCode': 'JPY',
  'Nominal': 100,
  'Name': 'Японских иен',
  'Value': 58.9916,
  'Previous': 58.5141}}

In [35]:
curr.usd()

64.6106

In [36]:
curr.eur()

72.3186

In [37]:
curr = Rate('full')

In [38]:
curr.usd()

{'ID': 'R01235',
 'NumCode': '840',
 'CharCode': 'USD',
 'Nominal': 1,
 'Name': 'Доллар США',
 'Value': 64.6106,
 'Previous': 64.4913}

In [39]:
curr.eur()

{'ID': 'R01239',
 'NumCode': '978',
 'CharCode': 'EUR',
 'Nominal': 1,
 'Name': 'Евро',
 'Value': 72.3186,
 'Previous': 71.8369}

In [40]:
curr = Rate('name')

In [41]:
curr.usd()

'Доллар США'

In [42]:
curr.eur()

'Евро'

In [52]:
curr = Rate('value', True)

In [53]:
curr.usd()

0.1193

In [54]:
curr.eur()

0.4817

**Задание 5**

Напишите функцию, возвращающую сумму первых n чисел Фибоначчи

In [92]:
def fibonacci_sum(n):
    """ Возвращает сумму первых n чисел Фибоначчи"""
    
    if n > 1:
        return fibonacci(n - 2) + fibonacci(n - 1) + 1
    elif n == 1:
        return 1
    elif n == 0:
        return 0
    elif n < 1:
        return "Error"

In [93]:
fibonacci_sum(7)

33

**Задание 6**

Напишите функцию, преобразующую произвольный список вида [‘2018-01-01’, ‘yandex’, ‘cpc’, 100] в словарь {‘2018-01-01’: {‘yandex’: {‘cpc’: 100}}}

In [116]:
def list_in_dict(list_, len_):
    """ Преобразует произвольный список вида [‘2018-01-01’, ‘yandex’, ‘cpc’, 100] 
    в словарь {‘2018-01-01’: {‘yandex’: {‘cpc’: 100}}} 
    На вход принимает список list_ и его длину len_"""
    
    if len_ > 2:
        # возвращаем словарь вида {первый элемент списка, который тут же удаляем : словарь из всех остальных элементов}
        return {list_.pop(0) : list_in_dict(list_, len_ - 1)}    
    elif len_ == 2:
        # если два последних элемента, то вернуть {ключ : значение} ({'cpc': 100})
        return {list_[0] : list_[1]}

In [117]:
list_ = ['2018-01-01', 'yandex', 'cpc', 100]

list_in_dict(list_, len(list_))

{'2018-01-01': {'yandex': {'cpc': 100}}}