**Задание 1**

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце 'region' пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим 'undefined'.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']

}

Результат классификации запишите в отдельный столбец region

In [1]:
import pandas as pd

In [2]:
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [3]:
def geo_class(row):
    """ Вовзращает название региона, если поисковой запрос в столбце 'keyword' содержит название города региона
    Если поисковый запрос не содержит названия города, то возвращает 'undefined'
    Правила распределения по регионам Центр, Северо-Запад и Дальний Восток хранится в словаре geo_data"""
    
    geo_data = {
        'Центр': ['москва', 'тула', 'ярославль'],
        'Северо-Запад': ['петербург', 'псков', 'мурманск'],
        'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
    }
    
    for region, cities in geo_data.items():
        for city in cities:
            if city in row['keyword']:
                return region
    return 'undefined'

In [9]:
keywords['region'] = keywords.apply(geo_class, axis=1)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [10]:
keywords[keywords['region'] != 'undefined']

,keyword,shows,region
127,авито москва,979292,Центр
370,авито ру санкт петербург,425134,Северо-Запад
564,погода в санкт петербурге,292489,Северо-Запад
849,авито ярославль,209581,Центр
1063,фарпост владивосток,176951,Дальний Восток
1236,банк санкт петербург,174375,Северо-Запад
1259,москва,153050,Центр
1346,санкт петербург,144232,Северо-Запад
1396,гисметео москва,140279,Центр
1482,госуслуги москва,133061,Центр
1579,авито тула,126168,Центр
1682,погода москва,151701,Центр
2121,электронный дневник санкт петербургского образ...,94835,Северо-Запад
2153,авито псков,98931,Северо-Запад
2175,дром хабаровск,98361,Дальний Восток
2398,авито мурманск,89787,Северо-Запад
2550,банк санкт петербург интернет банк,89123,Северо-Запад
2806,циан недвижимость москва,78729,Центр
2974,авто ру санкт петербург,74918,Северо-Запад
3206,дром владивосток,73084,Дальний Восток
3275,100 сп владивосток,76418,Дальний Восток
3687,авито хабаровск,63736,Дальний Восток
3786,метро москва,68024,Центр
4492,авито санкт петербурге,53715,Северо-Запад
4654,леруа мерлен каталог товаров в санкт петербурге,52087,Северо-Запад
4888,перекресток акции москва каталог сегодня,48619,Центр
5013,фк спартак москва,49699,Центр
5026,авито мурманская область,48756,Северо-Запад
5045,емлс недвижимость санкт петербурга,48409,Северо-Запад
5083,карта метро санкт петербурга,48989,Северо-Запад
...,...,...,...
96746,афиша ярославль,4033,Центр
96820,рп5 тула,3750,Центр
96915,эрарта в санкт петербурге официальный сайт,3738,Северо-Запад
96988,спартак москва футбол,5273,Центр
97115,авиабилеты москва сочи,13146,Центр
97199,запись на прием к врачу москва,3756,Центр
97288,мвидео в мурманске каталог товаров,3753,Северо-Запад
97349,спорт и отдых мурманск,3791,Северо-Запад
97382,комсомольская правда москва,3708,Центр
97413,kassir ru санкт петербург,3723,Северо-Запад
97433,авито санкт петербурге недвижимость,3720,Северо-Запад
97514,расписание электричек владимир москва,8480,Центр
97606,торпедо москва,3729,Центр
97613,би порт мурманск,3723,Северо-Запад
98183,москва октябрьская это какой вокзал,3696,Центр
98272,управляющая компания жкх по адресу москва,3745,Центр
98388,пилюли ру интернет аптека москва,3690,Центр
98542,спортмастер ярославль каталог товаров,3734,Центр
98679,геи москва,4205,Центр
98726,ледовый дворец санкт петербург,3772,Северо-Запад
98943,вакансии на авито москва от прямых работодателей,3738,Центр
99084,122 медсанчасть санкт петербург официальный сайт,3679,Северо-Запад
99134,росреестр по санкт петербургу официальный сайт,3700,Северо-Запад
99204,bileter ru санкт петербург,3661,Северо-Запад
99292,афиша кино москва на сегодня,3704,Центр
99590,авито ярославль автомобили с пробегом,3673,Центр
99634,северпост новости мурманской области,3606,Северо-Запад
99808,полармед мурманск запись на прием,3719,Северо-Запад
99890,яндекс метро москва,4548,Центр
99922,авто ру ярославль,3712,Центр

**Задание 2**

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
    - оценка 2 и меньше - низкий рейтинг
    - оценка 4 и меньше - средний рейтинг
    - оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [12]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

In [13]:
# JOIN ratings с movies
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [14]:
def rating_class(row):
    """ По значение из столбца 'rating' возвращает одно из значений:
        - оценка 2 и меньше - низкий рейтинг
        - оценка 4 и меньше - средний рейтинг
        - оценка 4.5 и 5 - высокий рейтинг """
    
    if row['rating'] <= 2:
        return 'низкий рейтинг'
    elif row['rating'] <= 4:
        return 'средний рейтинг'
    elif row['rating'] >= 4.5:
        return 'высокий рейтинг'

In [17]:
joined['class'] = joined.apply(rating_class, axis=1)
joined

,userId,movieId,rating,timestamp,title,genres,class
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,средний рейтинг
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,средний рейтинг
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,средний рейтинг
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,высокий рейтинг
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,высокий рейтинг
5,1,70,3.0,964982400,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller,средний рейтинг
6,1,101,5.0,964980868,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance,высокий рейтинг
7,1,110,4.0,964982176,Braveheart (1995),Action|Drama|War,средний рейтинг
8,1,151,5.0,964984041,Rob Roy (1995),Action|Drama|Romance|War,высокий рейтинг
9,1,157,5.0,964984100,Canadian Bacon (1995),Comedy|War,высокий рейтинг
10,1,163,5.0,964983650,Desperado (1995),Action|Romance|Western,высокий рейтинг
11,1,216,5.0,964981208,Billy Madison (1995),Comedy,высокий рейтинг
12,1,223,3.0,964980985,Clerks (1994),Comedy,средний рейтинг
13,1,231,5.0,964981179,Dumb & Dumber (Dumb and Dumber) (1994),Adventure|Comedy,высокий рейтинг
14,1,235,4.0,964980908,Ed Wood (1994),Comedy|Drama,средний рейтинг
15,1,260,5.0,964981680,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,высокий рейтинг
16,1,296,3.0,964982967,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,средний рейтинг
17,1,316,3.0,964982310,Stargate (1994),Action|Adventure|Sci-Fi,средний рейтинг
18,1,333,5.0,964981179,Tommy Boy (1995),Comedy,высокий рейтинг
19,1,349,4.0,964982563,Clear and Present Danger (1994),Action|Crime|Drama|Thriller,средний рейтинг
20,1,356,4.0,964980962,Forrest Gump (1994),Comedy|Drama|Romance|War,средний рейтинг
21,1,362,5.0,964982588,"Jungle Book, The (1994)",Adventure|Children|Romance,высокий рейтинг
22,1,367,4.0,964981710,"Mask, The (1994)",Action|Comedy|Crime|Fantasy,средний рейтинг
23,1,423,3.0,964982363,Blown Away (1994),Action|Thriller,средний рейтинг
24,1,441,4.0,964980868,Dazed and Confused (1993),Comedy,средний рейтинг
25,1,457,5.0,964981909,"Fugitive, The (1993)",Thriller,высокий рейтинг
26,1,480,4.0,964982346,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,средний рейтинг
27,1,500,3.0,964981208,Mrs. Doubtfire (1993),Comedy|Drama,средний рейтинг
28,1,527,5.0,964984002,Schindler's List (1993),Drama|War,высокий рейтинг
29,1,543,4.0,964981179,So I Married an Axe Murderer (1993),Comedy|Romance|Thriller,средний рейтинг
...,...,...,...,...,...,...,...
100806,610,150401,3.0,1479543210,Close Range (2015),Action|Crime,средний рейтинг
100807,610,152077,4.0,1493845817,10 Cloverfield Lane (2016),Thriller,средний рейтинг
100808,610,152081,4.0,1493846503,Zootopia (2016),Action|Adventure|Animation|Children|Comedy,средний рейтинг
100809,610,152372,3.5,1493848841,Southbound (2016),Horror,средний рейтинг
100810,610,155064,3.5,1493848456,The Neon Demon (2016),Drama|Horror|Mystery,средний рейтинг
100811,610,156371,5.0,1479542831,Everybody Wants Some (2016),Comedy,высокий рейтинг
100812,610,156726,4.5,1493848444,Hush (2016),Thriller,высокий рейтинг
100813,610,157296,4.0,1493846563,Finding Dory (2016),Adventure|Animation|Comedy,средний рейтинг
100814,610,158238,5.0,1479545219,The Nice Guys (2016),Crime|Mystery|Thriller,высокий рейтинг
100815,610,158721,3.5,1479542491,Gen-X Cops (1999),Action|Comedy|Thriller,средний рейтинг
100816,610,158872,3.5,1493848024,Sausage Party (2016),Animation|Comedy,средний рейтинг
100817,610,158956,3.0,1493848947,Kill Command (2016),Action|Horror|Sci-Fi,средний рейтинг
100818,610,159093,3.0,1493847704,Now You See Me 2 (2016),Action|Comedy|Thriller,средний рейтинг
100819,610,160080,3.0,1493848031,Ghostbusters (2016),Action|Comedy|Horror|Sci-Fi,средний рейтинг
100820,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller,средний рейтинг
100821,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama,высокий рейтинг
100822,610,160571,3.0,1493848537,Lights Out (2016),Horror,средний рейтинг
100823,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller,средний рейтинг
100824,610,161582,4.0,1493847759,Hell or High Water (2016),Crime|Drama,средний рейтинг
100825,610,161634,4.0,1493848362,Don't Breathe (2016),Thriller,средний рейтинг
100826,610,162350,3.5,1493849971,The Magnificent Seven (2016),Action|Western,средний рейтинг
100827,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller,средний рейтинг
100828,610,163981,3.5,1493850155,31 (2016),Horror,средний рейтинг
100829,610,164179,5.0,1493845631,Arrival (2016),Sci-Fi,высокий рейтинг
100830,610,166528,4.0,1493879365,Rogue One: A Star Wars Story (2016),Action|Adventure|Fantasy|Sci-Fi,средний рейтинг
100831,610,166534,4.0,1493848402,Split (2017),Drama|Horror|Thriller,средний рейтинг
100832,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),Action|Crime|Thriller,высокий рейтинг
100833,610,168250,5.0,1494273047,Get Out (2017),Horror,высокий рейтинг
100834,610,168252,5.0,1493846352,Logan (2017),Action|Sci-Fi,высокий рейтинг
100835,610,170875,3.0,1493846415,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,средний рейтинг

**Задание 3**

Посчитайте среднее значение Lifetime киноманов (пользователи, которые поставили 100 и более рейтингов). Под Lifetime понимается разница между максимальным и минимальным значением timestamp для каждого пользователя. Ответ дайте в днях.

In [22]:
# количество записей по каждому юзеру
ratings.groupby('userId').count().head()

        movieId  rating  timestamp
userId
1           232     232        232
2            29      29         29
3            39      39         39
4           216     216        216
5            44      44         44

In [23]:
# записываем количество записей по каждому индексу в grouped и обновляем индекс
grouped = ratings.groupby('userId').count().reset_index()
grouped.head()

   userId  movieId  rating  timestamp
0       1      232     232        232
1       2       29      29         29
2       3       39      39         39
3       4      216     216        216
4       5       44      44         44

In [24]:
# фильтруем, оставляем только тех юзеров, которые ставили оценки >= 100
ratings_filtered = grouped[grouped['timestamp'] >= 100]
ratings_filtered.head()

   userId  movieId  rating  timestamp
0       1      232     232        232
3       4      216     216        216
5       6      314     314        314
6       7      152     152        152
9      10      140     140        140

In [25]:
# записываем в film_fans_user_ids список отфильтрованных пользователей
film_fans_user_ids = ratings_filtered['userId'].tolist()
film_fans_user_ids

[1,
 4,
 6,
 7,
 10,
 15,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 27,
 28,
 32,
 33,
 39,
 40,
 41,
 42,
 43,
 45,
 47,
 50,
 51,
 52,
 57,
 58,
 59,
 62,
 63,
 64,
 66,
 68,
 73,
 74,
 76,
 80,
 82,
 83,
 84,
 89,
 91,
 95,
 100,
 103,
 104,
 105,
 109,
 111,
 113,
 115,
 117,
 119,
 122,
 125,
 129,
 132,
 135,
 136,
 137,
 139,
 140,
 141,
 144,
 153,
 156,
 160,
 166,
 167,
 169,
 177,
 181,
 182,
 184,
 186,
 187,
 195,
 198,
 199,
 200,
 201,
 202,
 210,
 212,
 216,
 217,
 219,
 220,
 221,
 222,
 226,
 230,
 232,
 233,
 234,
 239,
 240,
 246,
 247,
 249,
 254,
 256,
 260,
 263,
 265,
 266,
 268,
 274,
 275,
 279,
 280,
 282,
 286,
 287,
 288,
 290,
 292,
 294,
 298,
 301,
 304,
 305,
 306,
 307,
 308,
 309,
 312,
 313,
 314,
 317,
 318,
 322,
 325,
 326,
 328,
 330,
 331,
 332,
 334,
 339,
 346,
 351,
 352,
 354,
 356,
 357,
 362,
 365,
 367,
 368,
 369,
 372,
 373,
 376,
 377,
 380,
 381,
 382,
 385,
 387,
 391,
 393,
 405,
 408,
 409,
 410,
 411,
 412,
 414,
 419,
 420,
 424,
 425,
 428,
 432,
 434,
 436,
 437,
 438,
 448,
 452,
 453,
 462,
 464,
 465,
 466,
 469,
 474,
 475,
 477,
 479,
 480,
 482,
 483,
 484,
 488,
 489,
 490,
 492,
 495,
 509,
 510,
 514,
 517,
 520,
 522,
 524,
 525,
 527,
 534,
 542,
 551,
 552,
 555,
 559,
 560,
 561,
 562,
 563,
 564,
 567,
 570,
 571,
 572,
 573,
 577,
 580,
 586,
 587,
 590,
 593,
 594,
 596,
 597,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 610]

In [27]:
# фильтруем ratings, оставляем только тех пользователей, которые есть в списке film_fans_user_ids
# и для кождого пользователя считаем минимальный и максимальный timestamp
users_timestamp = (ratings[ratings['userId'].isin(film_fans_user_ids)]
                   .groupby('userId')
                   .agg({'timestamp': ['min', 'max']})
                  )
users_timestamp.head()

         timestamp
               min         max
userId
1        964980499   965719662
4        945078428  1007574542
6        845553109   845556915
7       1106635416  1176181731
10      1455301553  1455619275

In [29]:
# добавляем столбец lifetime, куда записываем разницу между максимальным и минимальным значением timestamp
users_timestamp['lifetime'] = users_timestamp.apply(lambda x: x['timestamp']['max'] - x['timestamp']['min'], axis=1)
users_timestamp.head()

         timestamp              lifetime
               min         max
userId
1        964980499   965719662    739163
4        945078428  1007574542  62496114
6        845553109   845556915      3806
7       1106635416  1176181731  69546315
10      1455301553  1455619275    317722

In [35]:
# вычисляем среднее значение lifetimes для всех юзеров
lifetimes = users_timestamp['lifetime'].tolist()
meanLife = round(sum(lifetimes) / float(len(lifetimes)))
meanLife

44190282

In [42]:
# переводим timestamp в дни
from datetime import datetime
meanLifeInDays = (datetime.utcfromtimestamp(meanLife) - datetime.fromtimestamp(0)).days
meanLifeInDays

511

**Задание 4**

Есть мнение, что "раньше снимали настоящее кино, не то что сейчас". Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из материалов занятия. Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
    - для каждой строки пройдите по всем годам списка years
    - если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    - если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец 'year'

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца 'year' и отсортируйте результат по убыванию рейтинга

In [47]:
# список всех годов с 1950 по 2010
years = []
for year in range(1950, 2011, 1):
    years.append(year)

In [50]:
ratings = pd.read_csv('ratings.csv')
movies = pd.read_csv('movies.csv')

# JOIN ratings с movies
joined = ratings.merge(movies, on='movieId', how='left')
joined.head()

,userId,movieId,rating,timestamp,title,genres
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [46]:
def production_year(row):
    """ Eсли номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
    Eсли ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год"""
    
    for year in years:
        if str(year) in row['title']:
            return year
    return 1900

In [51]:
joined['year'] = joined.apply(production_year, axis=1)
joined

,userId,movieId,rating,timestamp,title,genres,year
0,1,1,4.0,964982703,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1995
1,1,3,4.0,964981247,Grumpier Old Men (1995),Comedy|Romance,1995
2,1,6,4.0,964982224,Heat (1995),Action|Crime|Thriller,1995
3,1,47,5.0,964983815,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,1995
4,1,50,5.0,964982931,"Usual Suspects, The (1995)",Crime|Mystery|Thriller,1995
5,1,70,3.0,964982400,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller,1996
6,1,101,5.0,964980868,Bottle Rocket (1996),Adventure|Comedy|Crime|Romance,1996
7,1,110,4.0,964982176,Braveheart (1995),Action|Drama|War,1995
8,1,151,5.0,964984041,Rob Roy (1995),Action|Drama|Romance|War,1995
9,1,157,5.0,964984100,Canadian Bacon (1995),Comedy|War,1995
10,1,163,5.0,964983650,Desperado (1995),Action|Romance|Western,1995
11,1,216,5.0,964981208,Billy Madison (1995),Comedy,1995
12,1,223,3.0,964980985,Clerks (1994),Comedy,1994
13,1,231,5.0,964981179,Dumb & Dumber (Dumb and Dumber) (1994),Adventure|Comedy,1994
14,1,235,4.0,964980908,Ed Wood (1994),Comedy|Drama,1994
15,1,260,5.0,964981680,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,1977
16,1,296,3.0,964982967,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,1994
17,1,316,3.0,964982310,Stargate (1994),Action|Adventure|Sci-Fi,1994
18,1,333,5.0,964981179,Tommy Boy (1995),Comedy,1995
19,1,349,4.0,964982563,Clear and Present Danger (1994),Action|Crime|Drama|Thriller,1994
20,1,356,4.0,964980962,Forrest Gump (1994),Comedy|Drama|Romance|War,1994
21,1,362,5.0,964982588,"Jungle Book, The (1994)",Adventure|Children|Romance,1994
22,1,367,4.0,964981710,"Mask, The (1994)",Action|Comedy|Crime|Fantasy,1994
23,1,423,3.0,964982363,Blown Away (1994),Action|Thriller,1994
24,1,441,4.0,964980868,Dazed and Confused (1993),Comedy,1993
25,1,457,5.0,964981909,"Fugitive, The (1993)",Thriller,1993
26,1,480,4.0,964982346,Jurassic Park (1993),Action|Adventure|Sci-Fi|Thriller,1993
27,1,500,3.0,964981208,Mrs. Doubtfire (1993),Comedy|Drama,1993
28,1,527,5.0,964984002,Schindler's List (1993),Drama|War,1993
29,1,543,4.0,964981179,So I Married an Axe Murderer (1993),Comedy|Romance|Thriller,1993
...,...,...,...,...,...,...,...
100806,610,150401,3.0,1479543210,Close Range (2015),Action|Crime,1900
100807,610,152077,4.0,1493845817,10 Cloverfield Lane (2016),Thriller,1900
100808,610,152081,4.0,1493846503,Zootopia (2016),Action|Adventure|Animation|Children|Comedy,1900
100809,610,152372,3.5,1493848841,Southbound (2016),Horror,1900
100810,610,155064,3.5,1493848456,The Neon Demon (2016),Drama|Horror|Mystery,1900
100811,610,156371,5.0,1479542831,Everybody Wants Some (2016),Comedy,1900
100812,610,156726,4.5,1493848444,Hush (2016),Thriller,1900
100813,610,157296,4.0,1493846563,Finding Dory (2016),Adventure|Animation|Comedy,1900
100814,610,158238,5.0,1479545219,The Nice Guys (2016),Crime|Mystery|Thriller,1900
100815,610,158721,3.5,1479542491,Gen-X Cops (1999),Action|Comedy|Thriller,1999
100816,610,158872,3.5,1493848024,Sausage Party (2016),Animation|Comedy,1900
100817,610,158956,3.0,1493848947,Kill Command (2016),Action|Horror|Sci-Fi,1900
100818,610,159093,3.0,1493847704,Now You See Me 2 (2016),Action|Comedy|Thriller,1900
100819,610,160080,3.0,1493848031,Ghostbusters (2016),Action|Comedy|Horror|Sci-Fi,1900
100820,610,160341,2.5,1479545749,Bloodmoon (1997),Action|Thriller,1997
100821,610,160527,4.5,1479544998,Sympathy for the Underdog (1971),Action|Crime|Drama,1971
100822,610,160571,3.0,1493848537,Lights Out (2016),Horror,1900
100823,610,160836,3.0,1493844794,Hazard (2005),Action|Drama|Thriller,2005
100824,610,161582,4.0,1493847759,Hell or High Water (2016),Crime|Drama,1900
100825,610,161634,4.0,1493848362,Don't Breathe (2016),Thriller,1900
100826,610,162350,3.5,1493849971,The Magnificent Seven (2016),Action|Western,1900
100827,610,163937,3.5,1493848789,Blair Witch (2016),Horror|Thriller,1900
100828,610,163981,3.5,1493850155,31 (2016),Horror,1900
100829,610,164179,5.0,1493845631,Arrival (2016),Sci-Fi,1900
100830,610,166528,4.0,1493879365,Rogue One: A Star Wars Story (2016),Action|Adventure|Fantasy|Sci-Fi,1900
100831,610,166534,4.0,1493848402,Split (2017),Drama|Horror|Thriller,1900
100832,610,168248,5.0,1493850091,John Wick: Chapter Two (2017),Action|Crime|Thriller,1900
100833,610,168250,5.0,1494273047,Get Out (2017),Horror,1900
100834,610,168252,5.0,1493846352,Logan (2017),Action|Sci-Fi,1900
100835,610,170875,3.0,1493846415,The Fate of the Furious (2017),Action|Crime|Drama|Thriller,1900

In [56]:
# Cредний рейтинг всех фильмов для каждого значения столбца 'year', отсортирован по убыванию рейтинга
(joined
 .groupby('year')
 .agg({'rating': 'mean'})
 .sort_values('rating', ascending=False)
 .head())

        rating
year
1957  4.039535
1954  4.009191
1962  3.969466
1952  3.953125
1972  3.944293